
.montserrat-font {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
  }


*, *::before, *::after {
    box-sizing: border-box;
}



body {
    
    background: linear-gradient(#E8EBE4, #999AC6);
    font-family: "Montserrat", serif;
    overflow: auto;
}

header {
    text-align: center;
}

img {
    width: 100%;
    max-width: 253px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#inputSec {
    text-align: center;
    max-width: 350px;
}

#input {
    font-size: 1.1rem;
    padding: .4rem .6rem;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    margin-right: 1rem;
}

#submitBtn {
    font-size: 1.1rem; 
    font-family: inherit;
    text-transform: uppercase;
    padding: .4rem .6rem;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
}

.card {
    background-color: #798071;
    text-align: center;
    padding: 4%;
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    width: 80%;
    min-width: 260px;
    margin: 0 auto;
    
}

.card h2 {
    margin-top: 0;
}

.card img {
    border-radius: 10px;
}

.card a {
    text-decoration: none;
    color: white;
}

.card a:hover {
    opacity: 0.7;
}

.card-right {
    text-align: left;
    
    padding: 2%;
    flex: 2;
    max-width: 650px;
    
}

.card-left {
    padding: 2%;
    
}

.category {
    font-weight: bold;
}

footer {
    margin-top: auto;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    opacity: 0.7;
}

.error {
    font-size: 1.5rem;
}


@media (max-width: 413px) {
    #output {
        padding-bottom: 2rem;
    }
}

@media (min-width: 413px){
    body {
        height: 100vh;
    }
}

@media (min-width: 768px) {
    .card {
        display: flex;
        padding: 1%;
        align-items: center;
    }
    
}

